fastapi==0.135.1
uvicorn==0.41.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.12
python-dotenv==1.2.2
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.29
pillow==11.1.0
numpy==1.26.4
pydantic==2.12.5
opencv-python-headless==4.10.0.84
scikit-learn==1.5.1
joblib==1.4.2